body {
    background-color: #202222;
    color: #dbcfcf;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:hover, a:active {
    color: #dbcfcf;
    text-decoration: underline;
}

.middle {
    margin: 20px auto;
    padding: 20px;
    background-color: #535855;
    border-radius: 20px;
    text-align: center;
    width: 50%; /* Further reduced width */
}

.shared_projects {
    margin: 20px auto;
    padding: 20px;
    background-color: #616864;
    border-radius: 20px;
    text-align: left;
    width: 70%; /* Reduced width */
}

.shared_projects h2 {
    text-align: center;
}

.img {
    border-radius: 50%;
}

.img_class {
    text-align: center;
    margin: 20px 0;
}

.projects {
    margin-top: 20px;
    text-align: center; /* Center the heading */
}

iframe {
    border-radius: 20px;
}

@media (max-width: 600px) {
    .middle, .shared_projects {
        width: 90%;
        padding: 10px;
    }

    .img {
        width: 100px;
        height: 100px;
    }
}